%li{ :class =>"#{"active" if controller_name == "reminder_phone_books"}" }
    = link_to "Reminder PhoneBook", ext_project_reminder_phone_books_path(project)
%li{ :class =>"#{"active" if controller_name == "reminder_schedules" }" }
    = link_to "Reminder Schedule", ext_project_reminder_schedules_path(project)