= render 'shared/project_tabs_and_title', :project => @project

%h2= t('views.contacts.edit.label.title')

%table
  %tr
    %td{ valign: 'top', width: '30%' }= render 'form'
    %td{ valign: 'top' }= render 'calls'