.toptitle
  %span.title= reminder_schedule.name
.middle= reminder_schedule.description
.bottom
  = link_to t('views.ext.reminder_schedules._summary.action.edit'), '#', :class => 'farrow collapse_trigger'