%script{type: "text/html", id: "command_selector_template"}
  .feditor-sidebar.box.w28.iblock.h65.addstep.right
    .content-header
      %h1= t('views.call_flows._command_selector_template.label.add_step')
      %span= t('views.call_flows._command_selector_template.label.choose_one_option_to_insert')
    .content-buttons
      / ko foreach: standard_commands
      %div
        %button{'data-bind' => 'click: selected, class: button_class, style: {background: background_style()}', :style => 'display:block' }
        %span{ko(text: 'name()')}
      / /ko

      / ko if: external_commands().length > 0
      %hr
      = link_to t('views.call_flows._command_selector_template.action.manage_external_services'), project_external_services_path(@project), :class => 'faccept'

      %br/
      %br/

      / ko foreach: external_commands
      %div
        %button{'data-bind' => 'click: selected, class: button_class, style: {background: background_style()}', :style => 'display:block' }
        %span{ko(text: 'name()')}
      / /ko
      / /ko

