%script{type: "text/html", id: "text_localized_resource_template"}
  .w22
    %textarea{:rows => 6, :placeholder => "#{t('views.call_flows._text_localized_resource_template.label.placeholder')}", 'data-bind' => 'value: text, valueUpdate: "afterkeydown"'}