%script{type: "text/html", id: "text_localized_resource_template"}
  %textarea.w100{:rows => 6, :placeholder => "#{t('views.resources._text_localized_resource_template.label.placeholder')}", 'data-bind' => 'value: text, valueUpdate: "afterkeydown", visible: $parent.editing'}
  %span.i18b-robot{ko(visible: '! $parent.editing()')}
  %span{ko(text: 'text', visible: '! $parent.editing()')}
