%script{type: "text/html", id: "undefined_localized_resource_template"}
  %span.alert-orange-b{ko(visible: '! $parent.editing()')}= t('views.resources._undefined_localized_resource_template.label.missing_translation')
