%script{type: "text/html", id: "url_localized_resource_template"}
  .w100
    %textarea{:rows => 6, :placeholder => "#{t('views.resources._url_localized_resource_template.label.placeholder')}", 'data-bind' => 'value: url, valueUpdate: "afterkeydown", visible: $parent.editing'}
  %span.i18b-internet{ko(visible: '! $parent.editing()')}
  %span{ko(text: 'url', visible: '! $parent.editing()')}
